@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Quicksand:wght@300;400;500&display=swap');

///////////
// SETUP //
///////////
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background: #111111;
    color: rgb(188, 188, 188);
    font-family: Montserrat;
    max-width: 1500px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
   color:white 
}

////////////
// HEADER //
////////////
header {
    margin: 2em 1em;
    width: auto;
    display: flex;

    .logo {
        font-weight: bold;
    }

    ul {
        display: flex;
        li a {
            padding: 0 .6em;
        }
        border-bottom: 1px solid white;
        padding-bottom: 1em;
    }
    
}
////////////////////////////
// WRAPPERS FOR MAIN BODY //
////////////////////////////
.page {
    display: flex;
    flex-direction: row;
    @media (max-width: 750px) {
        flex-direction: column;
    }
    
    // justify-content: flex-start;
    // align-items: flex-start;
    max-width: 1500px;
}
// WRAPPER FOR LEFT
.sidebar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 0 1;

}
// WRAPPER FOR RIGHT
.mainbar {
    padding: 0;
    margin: 0;
    // max-width: ;
    flex: 3 0 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
// GENERIC BOX
.box {
    background-color: #1d1d1d;
    margin: 0 0.7em 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    border-radius: 1em;
    flex: 0 0 1;
    height: auto;
} 
.empty-box {
    background-color: #111111;
    flex: 0 0 1;
    height: auto;
}
///////////////////
// PROFILE BOXES //
///////////////////
// PROFILE
.profile{
    background-color: #1d1d1d;
    padding: 1em;
    bottom: 1em;
    border-radius: 0.7em;
}
.profile-pic{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.info-box {
    text-align: center;
}
.links {
    ul {
        a {
            font-size: 3em;
        }
    }
}
.link-buttons{
    font-size: 2em;
}
////////////////////
// CONTENT BOXES //
////////////////////
// Paragraph
.content {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.boxtitle {
    display: inline;
    a {
        h2 {
            display: inline;
        }
    }
    p {
        display: inline;
        font-size: x-large;
    }
}
// Projects
.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.project {
    flex: 0 0 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .logo {
        margin: 0.5em;
        padding: 0;

        width: 15%;
        flex: 0 0 1;
    }
    .description {
        flex: 0 0 1;
        padding: 0 0.5em;
        margin-top: 0.5em;
        line-height: 1.5em;
        li {
            margin: 0.5em 0;
        }
        // margin: 1em 0;
        
    }
}