@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&family=Quicksand:wght@300;400;500&display=swap');

///////////
// SETUP //
///////////
$mobile-page-width: 500px;
$mobile-font-size: 1.1em;
$background-color: #111111;
$font-color: rgb(188, 188, 188);
$header-font-size: 1.5em;
$card-color: #272727;

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background: $background-color;
    color: $font-color;
    font-family: Montserrat;
    max-width: 1500px;
    @media (max-width: $mobile-page-width) {
        max-width: $mobile-page-width;
        font-size: $mobile-font-size;
    }
}

a {
    color: white;
    text-decoration: none;
    font-style: italic;
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
   color: white;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.institute-text {
    font-size: large;
    font-weight: bold;
    padding-bottom: 0.1em;
    margin-bottom: 0;
    // @media (max-width: $mobile-page-width) {
    //     font-size: $mobile-font-size;
    // }
}

.time-text {
    font-size: large;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
    // @media (max-width: $mobile-page-width) {
    //     font-size: 0.8*$mobile-font-size;
    // }
}

////////////
// HEADER //
////////////
header {
    margin: 2em 1em;
    width: auto;
    display: flex;
    @media (max-width:$mobile-page-width) {
        max-width: $mobile-page-width;
    }

    ul {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid white;
        padding-bottom: 1em;
        justify-content: space-between;
        max-width: 600px;
        // width: 25px;
        
        li a {
            padding: 0 2em 0 0;
            margin: auto;
            flex: 4 0 auto;
            // flex-wrap: nowrap;
            font-size: $header-font-size;
            font-style: normal;
            text-decoration: none;
            
        }
        @media (max-width: $mobile-page-width) {
            padding-bottom: 0.7em;
            max-width: 90vw;
            li a {
                font-size:0.9em;
                padding: 0;
            }
        }
    }
}
////////////////////////////
// WRAPPERS FOR MAIN BODY //
////////////////////////////
.page {
    display: flex;
    flex-direction: row;
    @media (max-width: $mobile-page-width) {
        flex-direction: column;
        // scale: 120%;
    }
    max-width: 1500px;
    margin: auto;
    justify-content: center;

    // WRAPPER FOR LEFT
    .sidebar {
        padding: 0;
        margin: 0;
        flex: 5 5 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
    }
    // WRAPPER FOR RIGHT
    .mainbar {
        padding: 0;
        margin: 0;
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}

// GENERIC BOX
.card {
    background-color: #272727;
    margin: 0 0.7em 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    border-radius: 1em;
    flex: 0 0 1;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    @media (max-width:$mobile-page-width) {
        max-width: $mobile-page-width;
    }
    
    h1 {
        margin-bottom: 0.2em;
        margin-top: 0.5em;
    }

    &.profile {
        justify-content: center;
    }
    
    &.education {
        justify-content:space-between;
        align-self: flex-start;
    }

    &.skills {
        i {
            margin-bottom: 0.5em;
            margin-top: 1em;
        }
        i:first-child {
            margin-top: 0;
        }
        flex-direction: column;
        
        
    }
    ul{
        display:block;
        justify-content:left;
        margin-bottom: 1em;
        // flex-wrap: wrap;
        // flex-direction: row;
        
        li {
            margin-left: 0.5em;
            padding-left: 1em;
            padding-right: 1em;
            padding-top: 0.5em;
            border-left: solid white 1px;
        }
    }
    .hobbies {
        li {
            padding-bottom: 0.7em;
        }
    }

    .edu-item {
        flex: 1 0 30%;
        // .degree {
        //     font-size: ;
        // }
    }

    .logo {
        align-self: flex-start;
        margin: 1em;
        padding: 0;
        display: block;
        flex: 0 0 10%;
        object-fit:scale-down;
        width: 6em;
        @media (max-width: $mobile-page-width) {
            margin: 0.6em;
        }
        
        &.jhu {
            filter: brightness(0) invert(1);
            // scale: 80%;
            // padding-left: 1em;
            // padding-right: 1em;
            // padding-top: 0.4em;
            padding: 0.4em;
            @media (max-width: $mobile-page-width) {
                &.teaching {
                    @media (max-width: $mobile-page-width) {
                        display: none;
                    }
                }
            }
        }
        &.timber {
            width: 5em;
            margin-top: 0;
            margin-bottom: -1em;
            margin-top: -2em;
            margin-right: 1em;
            @media (max-width: $mobile-page-width) {     
                display: none;
            }
        }
        &.cms {
            padding: 0.5em 0.7em 0.7em 0.7em;
            @media (max-width: $mobile-page-width) {      
                display: none;         
            }
        }
    }
    .cardtitle {
        display: inline;
        flex: 0 0 100%;
        a {
            h2 {
                display: inline;
            }
        }
        p {
            display: inline;
            font-size: x-large;
        }
        h2 {
            display: inline;
        }
    }
    .description {
        flex: 0 0 1;
        padding: 0;// 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.7em;
        line-height: 1.5em;
        // ul {
        //     margin: 0.5em 0;
        //     margin-left: 1em;
        //     padding-left: 1em;
        //     border-left: solid 1px white;
        // }  
    }

    &.welcome {
        @media (max-width: $mobile-page-width) {
            display: none;
        }
    }
    &.mobile-welcome {
        display: none;
        @media (max-width: $mobile-page-width) {
            display: block;
        }
    }
} 
.empty-box {
    background-color: #111111;
    flex: 0 0 1;
    height: auto;
}
///////////////////
// PROFILE BOXES //
///////////////////
.profile-pic{
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0em;
    width: 23em;
    height: 23em;
    @media (max-width: $mobile-page-width) {
        width: 17em;
        height: 17em;
    }
    
    object-fit: cover;
    border-radius: 50%;
    display: block;
    justify-self: center;
}
.info-box {
    text-align: center;
    padding: 1em;
    margin-top: -2em;
    justify-self: center;
}
.socials {
    display: flex;
    padding-left: 5em;
    padding-right: 5em;
    justify-content: space-around;
    .social-buttons{
        font-size: 2em;
        text-decoration: none;
        font-style: normal;
    }
}

.project-link-title {
    display: flex;
    justify-content: left;
    align-items: center;
    a {
        margin-left: 0;
        // margin-top: 0.7em;
        padding-right: 1em;
        padding-left: 1em;
        border-left: 1px solid white;
        text-decoration: none;
        font-style:normal;
    }
    h2 {
        padding-right: 1em;
        border-left: none
    }
    
}

////////////////////
// CONTENT BOXES //
////////////////////
// Paragraph
.content {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

// Projects
.col-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0;

    .row-container {
        flex: 0 0 1;
        margin: 0;
        margin-top: 1em;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        img {
            flex: 0 0 1;
            margin: 0;
        }
        .rows {
            flex: 0 0 1;
            margin-left: 0.2em;
            h2 {
                display: block;
                margin-bottom: 0;
                margin-top: 0;
                padding-bottom: 0.1em;
                color: white;
            }
            h4 {
                display: block;
                margin-bottom: 0;
                padding-bottom: 0.1em;
            }
        }
    }
}


