<header>
    <nav>
        <ul>
            <li><a class="navitem-text" href="index.html">Home</a></li>
            <li><a class="navitem-text" href="images/resume.pdf">R&eacutesum&eacute</a></li>
            <li>
                <div class="dropdown">
                    <button class="btn navitem-text" type="button" id="projectMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects <span><i class="fa fa-thin fa-chevron-down"></i></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="projectMenuButton">
                        <a class="dropdown-item" href="http://lucascorcodilos.com/blog/">Blog</a>
                        <a class="dropdown-item" href="http://lucascorcodilos.com/RecipeRepo/">RecipeRepo</a>
                        <a class="dropdown-item" href="https://jobs.lucascorcodilos.com">Job App Manager</a>
                    </div>
                </div>
            </li>
            
        </ul>
    </nav>
</header>